<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SUPER TRIVIA</title>
        <link rel="icon" type="image/x-icon" href="./assets/trivia-favicon.ico">

        <!--insert CSS+ other styling links here..-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>

    <body>
        <div class="title">
            <h1 class="neon-text">
                <a href="#./index.html"></a>
                    <div class="greeting-container">
                        <div class="welcome"> 
                            <a>WELCOME!</a> 
                        </div>  
                        <div class="to"> 
                            <a>to:</a> 
                        </div>
                        <div class="elec-trivia">
                            <a>ELEC<span class="elec-span">TRIVIA</span>.</a> 
                        </div>

                    </div>
                 
            </h1>
        </div>

        <header>
            <div class="nav-container">
                <nav class="nav-bar"> <!-- START top navigation, insert links for top navigation bar-->
                    <ul style="list-style: none;" class="nav-list">
                        <li class="nav-item">
                            <a href="#HOME">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a href="#ABOUT">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a href="#TRIVIA">TRIVIA</a>
                        </li>
                        <li class="nav-item">
                            <a href="#RESOURCES">RESOURCES</a>
                        </li>
                        <li class="btn btn-default btn-lg">
                            <!-- Link to login/create account html page -->
                            <button style="none" href="./login.html" id="login">LOG IN</button> <!-- *ATTENTION*This text will need to change once the user logs in, to say " Hello, 'username' "-->
                        </li>

                        <li class="btn btn-default btn-lg">
                            <!-- Link to login/create account html page -->
                            <button style="none" href="./login.html" id="logout">LOG OUT</button> <!-- *ATTENTION*This text will need to change once the user logs in, to say " Hello, 'username' "-->
                        </li>
                    </ul>
                </nav> <!-- END top navigation -->
            </div>

        </header>

        <section> <!-- START HERO/JUMBOTRON section -->

        </section> <!-- END HERO/JUMBOTRON section-->

        <div> <!-- START the MAIN BODY content section/div -->
            {{{ body }}} 
        </div> <!-- END first MAIN BODY section/div -->

        <footer> <!-- START footer-->

        </footer> <!-- END footer-->

        <script src=""></script> <!-- Insert links to JS files here-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script src="/javascript/main.js"></script>
        {{!-- <script src="/javascript/logout.js"></script> --}}
    </body>
        
</html>