:root {
    --primary-color: #00ffff; /* cyan */
    --secondary-color: #f8d210; /* gold */
    --tertiary-color: #fa26a0; /* hot-pink */
    --quaternary-color: #f51720; /* chili-pepper-red */
    --quinary-color: #bc13fe;    /* electric-purple === rgba(188, 19, 254, 1)*/
    /* color pallette/combo--> 'Retro Punch' 
          source--> https://www.canva.com/colors/color-palettes/retro-punch/ */
  
}

body {
    font-family: 'Electrolize', sans-serif;
}

.title {
    display: flex;
    background-image: url('https://t4.ftcdn.net/jpg/02/71/12/01/360_F_271120192_ZDT2FCxH94akiIsOHwVULWnbNzi8Oagn.jpg');
    background-size: cover;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    max-width: 100%;
    padding-left: 5px;
}

.h1 {
    display: flex;
}

.form-background {
    position: -webkit-sticky;
    position: absolute sticky;
    background-image: url('https://i.pinimg.com/564x/74/9b/db/749bdb8e633874e3a49b2af1475db4a2.jpg');
    background-size: cover;
    padding: 2rem 1rem 1rem 1rem;
}
/* colors/gradient for 'REGISTER' btn */
.gradient-custom-4 {
    /* setting for old browsers */
    background: #00ffff;
    
    /* /* setting for older versions of Chrome and Safari */
    background: -webkit-linear-gradient(to right, #fc70c1, #8a2be2, #00ffff, #00c8ff, #55a8fc, #0000ff);
    
    /* setting for the updated browsers */
    background: linear-gradient(to right, #fc70c1, #8a2be2, #00ffff, #00c8ff, #55a8fc, #0000ff);
}

.nav-container {
    font-weight: bold;
}
.nav-border {
border-style: solid;
border-color: #000000;
border-width: 3px 1px 3px 1px;
border-radius: 2px;
width: auto;
height: auto;
box-shadow: 5px 1px 8px 1px #000000;
background: linear-gradient(to right, #fc41ae, #ff5bf1, #d246eb, #bc13fe, #00ffff, #1098e1)">
}

footer {
background-image: url('https://i.pinimg.com/564x/06/53/bb/0653bba07f479528b85722d8373957ca.jpg');
border-style: solid;
border-color: #000000;
border-width: 5px 1px 3px 1px;
border-radius: 2px;
width: auto;
height: auto;
box-shadow: 5px 1px 8px 1px #000000;
color:#00ffff;
padding:2.75vh 0 auto 0;
}

.support {
padding: 1rem 0 1rem 0;
font-weight: bold;
text-decoration: #00ffff;
font-size: larger;
text-shadow:3px 0 3px 0 #0021a7;

}

.support a {
color: #00ffff;
font-style: italic;
text-decoration: underline 3px #fb8cff;
text-shadow:3px 0 3px 0 #0021a7;
}

.About {
font-size: larger;
color:#fb8cff;
font-weight: bolder;
text-shadow: 3px 1px 3px 1px #ff0095;
}

.Copyright {
border-top: 2px solid #000000;
border-style: double;
padding: 2rem 0 1rem 0;
color: #000000;
background: linear-gradient(to left, #fc41ae, #ff5bf1, #d246eb, #bc13fe, #00ffff, #1098e1);
}


