:root {
  --primary-color: #00ffff;    /* cyan === rgba(0,255,255,1) */
  --secondary-color: #f8d210;  /* gold === rgba(248, 210, 16, 1) */
  --tertiary-color: #fa26a0;   /* hot-pink === rgba(250, 38, 160, 1) */
  --quaternary-color: #f51720; /* chili-pepper-red === rgba(245, 23, 32, 1) */
  --quinary-color: #bc13fe;    /* electric-purple === rgba(188, 19, 254, 1)*/
  /* color pallette/combo inpiration name--> 'Retro Punch' 
     source--> https://www.canva.com/colors/color-palettes/retro-punch/ */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Electrolize', sans-serif;
}

/* START of link behavior

a:hover {
}

/* END of link behavior*/


/*
.nav-list {
  border:#bc13fe solid 3px;
  border-top-width: 4px;
  border-radius: 3px;

}
*/


.title {
  display: flex;
  background-image: url('https://t4.ftcdn.net/jpg/02/71/12/01/360_F_271120192_ZDT2FCxH94akiIsOHwVULWnbNzi8Oagn.jpg');
  background-size: cover;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width:auto;
  max-width: 100%;
  padding-left: 5px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin:auto;
  height:300px;
  width:auto;

  /* glow effect on h1 border */
  animation: pulsate 0.11s ease-in-out infinite alternate;

  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #00ffff,
              0 0 0.8rem #00ffff,
              0 0 2.8rem #00ffff,
              inset 0 0 1.3rem #00ffff;
  
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
}

@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
  
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09;
  }
}

@-webkit-keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
  
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09;
  }
}

@-moz-keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
  
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09;
  }
}

  /* adds blinking effect to text *//*
  animation: blink-animation 3s steps(5, start) infinite;
        -webkit-animation: blink-animation 3s steps(5, start) infinite;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-moz-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
*/

.greeting-container {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.welcome {
  font-size: 5vh;
  padding: 10px 0 10px 0;
  
}
.to {
  font-size: 4vh;
  padding: 0.5rem 0 1.5rem 0;
  
}
.elec-span {
  color: #fff;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #f8d210,
  0 0 82px #f8d210,
  0 0 92px #f8d210,
  0 0 102px #f8d210,
  0 0 151px #f8d210;

  animation: pulsate 0.11s ease-in-out infinite alternate
}

/* Website's name styling*/
.elec-trivia {
  flex-wrap: nowrap;
  font-weight: bold;
  font-size: 5.5vh;
  padding:0.5rem 0 1rem 0;

  
}
/*.elec-span {
  color: #fff;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #f8d210,
  0 0 82px #f8d210,
  0 0 92px #f8d210,
  0 0 102px #f8d210,
  0 0 151px #f8d210;

  animation: pulsate 0.11s ease-in-out infinite alternate
} */

    /*    
.nav-list {
    background:white;
    box-shadow: 0px 0px 10px; 
    padding: 1rem 0;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

*/

/* Need some help setting up media queries here!*/